<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Página Inicial</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <style>
        .content {
            padding-top: 70px; /* Ajuste este valor conforme necessário */
        }
    </style>
</head>

<body>

    <div layout:fragment="content">
        <!-- Conteúdo principal -->
        <div class="container mt-5 pt-5">
            <h1 class="mb-4">Bem-vindo à Minha Aplicação</h1>
            <p>Esta é a página inicial. Aqui você pode encontrar as últimas atualizações e informações importantes.</p>
            <!-- Adicione mais conteúdo conforme necessário -->
        </div>
    </div>

</body>

</html>
