<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Contas a Pagar</title>
</head>

<body class="container mt-5">
    <h1 class="mb-4">Contas a Pagar</h1>
    
    <a th:href="@{/contas/adicionar}" class="btn btn-primary mb-3">Nova Conta</a>
    
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Total</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="conta : ${listaContas}">
                <td th:text="${conta.id}">ID CONTA</td>
                <td th:text="${conta.descricao}">Descrição CONTA</td>
                <td th:text="${conta.valor}">Valor CONTA</td>
                <td th:text="${conta.data}">Data CONTA</td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
